.planetInfoWrap{
    position: relative;
    flex-grow: 1;
    height: 100%;
    margin: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;

    .backWrap{
        display: flex;
        position: absolute;
        top: 0;
        right: 0;

        height: 40px;
        color: white;
        cursor: pointer;
        margin-top: 20px;
        margin-right: -120px;
        font-size: 5rem;
        transition: 1s;
        &:hover{
            margin-right: 0;
        }
        .arrow{
            display: flex;
            align-items: center;
            width: 40px;
        }
        .textWrap{
            height: 100%;
            width: 120px;
            font-size: 1.8rem;
            text-transform: uppercase;
            text-align: center;
            line-height: 40px;

        }
    }
    h1{
        text-align: center;
        font-size: 4rem;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .overview{
        font-size: 1.8rem;
    }

    .informationWrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        h2,p{
            font-size: 1.8rem;
        }

    }
}