@use '../breakpoints';


.canvasWrap{
    height: 80vh;
    width: 80vh;
    min-width: 80vh;
    box-shadow: 0 0 5px 0 white;
    border-radius: 10px;
    margin-left: 50px;
    background-image: url('../../assets/textures/backgroundStars.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



@media screen and (max-width: breakpoints.$breakpoint-l) {
    .canvasWrap{
        width: 50vw;
        height: 50vw;
        min-width: 50vw;
        max-width: none;
        max-height: 90vh;
        margin: 20px;
    }
}


@media screen and (orientation: portrait){
    .canvasWrap{
        height: 50vh;
        width: 90%;
        max-width: 100%;
        min-width: 70%;
        margin: 20px;
    }
}

@media screen and (max-width: breakpoints.$breakpoint-s) {
    .canvasWrap{
        height: 40vh;
    }
}

@media screen and (max-width: breakpoints.$breakpoint-xs) {
    .canvasWrap{
        height: 30vh;
    }
}