@use '../breakpoints';

.imgWrap{
    max-height: 100%;
    max-width: 60%;
    min-width: 50%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    .imgContainer{
        height: 95%;
        width: 100%;
        display: flex;
        padding: 7px;
        margin: 20px;
        display: flex;
        justify-content: center;
    }

    img{
        object-fit: cover;
        height: 100%;
        width: auto;
        max-width: 100%;
    }
    iframe{
        object-fit: cover;
        height: 100%;
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (max-width: breakpoints.$breakpoint-l) {
    .imgWrap{

        .imgContainer{
            margin: 10px;
            padding: 0px;
        }
    }
}

@media screen and (max-width: breakpoints.$breakpoint-xs) {
    .imgWrap{
        width: 100%;
        max-width: 100%;
        max-height: 50%;
        height: 50%;
    }
}